In [2]:
import numpy as np
import pandas as np

In [12]:
marg_90.head()

,CVE_ENT,NOM_ENT,POB_TOT,ANALF,SPRIM,OVSDE,OVSEE,OVSAE,VHAC,OVPT,PL.5000,PO2SM,IM,GM,LUGAR,A.O
0,1,Aguascalientes,719659,7.06,33.85,10.88,4.97,4.18,51.03,7.45,26.97,62.53,-0.89,Bajo,27,1990
1,2,Baja California,1660855,4.68,24.01,4.89,10.49,19.59,45.43,8.13,11.95,39.96,-1.34,Muy bajo,30,1990
2,3,Baja California Sur,317764,5.39,27.77,7.03,11.10,10.17,48.60,13.99,25.60,54.06,-0.97,Bajo,28,1990
3,4,Campeche,535185,15.40,44.82,24.80,15.02,29.52,65.03,24.16,36.21,68.07,0.48,Alto,10,1990
4,5,Coahuila de Zaragoza,1972340,5.48,28.18,10.81,5.24,7.76,50.00,8.48,17.13,60.89,-1.05,Bajo,29,1990

In [16]:
#marg_90 = np.read_csv("Marginacion_1990.csv")
marg_90_var = marg_90[['ANALF','SPRIM','OVSDE','OVSEE','OVSAE','VHAC','OVPT','PL.5000','PO2SM']]

In [20]:
type(marg_90_var['ANALF'])

pandas.core.series.Series